html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddfbed;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #65ecb4;
  border-radius: 10px;
}


@font-face {
  font-family: "iconfont";
  src: url("//at.alicdn.com/t/font_1207200_j3on8j6kuhl.ttf?t=1591723814839")
    format("truetype");
}

